<h1>Add a site</h1>
<form action = "/links" method="post">
  <label>Title</label>
  <input type="text" name="title">
  <label>URL</label>
  <input type="text" name="url">
  <input type="text" name="tag">
  <input type="submit" value="Submit">
</form>
