<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookmark Manager Sign up</title>
</head>
<body>
  <% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <form action="/signup" method="POST">
    <label for='email'>
      Email: <input type="text" name="email" value="<%= @user.email %>" />
    </label>
    <label for='password'>
      Password: <input type="text" name="password" />
    </label>
    <label for='password_confirmation'>
      Password: <input type="text" name="password_confirmation" />
    </label>
    <input type="submit" value="Sign up" />
  </form>
</body>
</html>
