<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager Sign up</title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <input type="text" name="email" />
      <input type="text" name="password" />
      <input type="submit" value="Sign up" />
    </form>


  </body>
</html>
